*,
*::before,
*::after {
      box-sizing: border-box;
}

:root {
      --main-color: lightblue;
      --secondary-color: lightcoral;
      --main-font: "Hypero", Courier, monospace;
      --secondary-font: "Cafe", Courier, monospace;
}

@font-face {
      font-family: "Hypero";
      src: url(../font/HyperoRegular.otf) format('opentype'), url(../font/HyperoRegular.ttf) format('truetype');
}

@font-face {
      font-family: "Cafe";
      src: url(../font/Cafe.otf) format('opentype'), url(../font/Cafe.ttf) format('truetype');
}

html {
      scroll-behavior: smooth;
}

body {
      display: flex;
      flex-direction: column;
      font-family: var(--main-font);
}


/* --------------------- */
/* -----Header---------- */

header {
      width: 100%;
}

header img {
      width: 100%;

}

/* --------------------- */

.imgProjet {
      width: 200px;
}


/* --------------------- */



/* ----Footer------ */

footer {
      width: 100%;
      height: 3rem;
      position: sticky;
      bottom: 0;
      background-color: var(--secondary-color);
}

.footerContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;

}